<h3 class='text-center'>Gallery</h3>
<div id="galleryCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#galleryCarousel" data-slide-to="1" class=""></li>
        <li data-target="#galleryCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class='carouselImg' data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="assets/images/Sci.jpg">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img class='carouselImg' data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="assets/images/Jess1.jpg">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img class='carouselImg' data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="assets/images/Jess2.jpg">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#galleryCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#galleryCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<img src="assets/images/Jess1.jpg" class="img-responsive galleryImg" alt="Image">
<img src="assets/images/Jess2.jpg" class="img-responsive galleryImg" alt="Image">
<img src="assets/images/Sci.jpg" class="img-responsive galleryImg" alt="Image">
