<!DOCTYPE html>
<html>
    <head>
        <title>For Science!</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div id = 'pageHeader'>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-4">
                        <h1 id = 'bigS'>S</h1>
                        <h1>illy</h1>
                        <h1>cience</h1>
                        <h1>isters</h1>
                    </div>
                </div>
                <h2 class = 'text-center'>Discover the magic of science</h2>
            </div>
            <%- body %>
        </div>
        <div id = 'spacing'>
        </div>
        <div id = 'linkz'>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="/about"><div class = 'flask'>
                        <div class = 'flaskTop'></div>
                        <div class = 'flaskBottom'>
                            <p class = 'linkText'>About Us!</p>
                        </div>
                    </div></a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="/offerings"><div class = 'flask'>
                        <div class = 'flaskTop'></div>
                        <div class = 'flaskBottom'>
                            <p class = 'linkText'>Offerings!</p>
                        </div>
                    </div></a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="/mail"><div class = 'flask'>
                        <div class = 'flaskTop'></div>
                        <div class = 'flaskBottom'>
                            <p class = 'linkText'>Mailing List!</p>
                        </div>
                    </div></a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="/gallery"><div class = 'flask'>
                        <div class = 'flaskTop'></div>
                        <div class = 'flaskBottom'>
                            <p class = 'linkText'>Gallery</p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src = 'js/script.js'></script>
    </body>
</html>
