<h1>Offerings</h1>
<h3>Please contact us directly for pricing and customization options</h3>
<div class="well">
    <h4>Birthdays</h4>
    <p>Invite the Silly Science Sisters to the party, and help your child celebrate with the magic of science! Each child will enjoy a 45-minute show, and participate in a take-home project!</p>
</div>
<div class="well">
    <h4>Group Shows</h4>
    <p>We perform shows designed to amaze and inspire! We offer shows in a wide variety of topics for groups up to 100 people. Perfect for your Summer Camp, Afterschool Group, Special Event or Family Reunion. Show time: 45 minutes.</p>
</div>
<div class="well">
    <h4>Summer Camps</h4>
    <p>Add a Silly Science Sisters weekly workshop to your camp offerings this summer! Our Summer Camp offerings are perfectly designed to add enrichment to your campers’ day. The camps are designed as small group workshops for up to 15 campers, running in one-week sessions Monday-Friday 9:30am-12:00pm.</p>
</div>
<div class="well">
    <h4>Scout Troop Badge Workshops</h4>
    <p>The Silly Science Sisters have lots of experience with scouting and can help your Boy or Girl Scout Troop earn science-themed badges!</p>
</div>
<div class="well">
    <h4>Afterschool Workshops</h4>
    <p>The Silly Science Sisters will come directly to your Afterschool Program to deliver engaging workshops. The programs can be catered to fit your needs. Typical workshops will be done in 5-10, hour-long sessions that take place once a week.</p>
</div>
