body {
    font-family: 'Indie Flower', cursive;
    background: #BF55EC;
    background: -webkit-linear-gradient(left, #BF55EC , aqua); /
    background: linear-gradient(left, #BF55EC , aqua);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

#bigS {
    float:left;
    font-size: 200px;
}

#spacing {
    height:110px;
}
#linkz {
    position: fixed;
    bottom:0;
    border-top: 1px solid black;
    width:100%;
    background-color: black;
}
.flask {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin:25px;
    text-align: center;
}

.flaskTop {
    position: absolute;
    left:8px;
    width:35px;
    height:25px;
    background-color: white;
    margin:0 auto;

}
.flaskBottom {
    background-color: white;
    width: 50px;
    height: 50px;
    transform: perspective(10px) rotateX(10deg);
    margin:0 auto;
}

.linkText {
    position:relative;
    bottom:-15px;
}

.roundPic {
    height:200px;
    width:200px;
    border-radius: 100%;
    margin:0 auto;
}

.galleryImg {
    display: inline-block;
    margin:1px;
}
